*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
    padding: o;
}

h2{
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 15px 5px;
}
h3{
    color: #4caf50;
    margin: 10px;
}
audio{
  margin: 10px;
}
video{
  margin: 10px;
}
img{
  margin: 10px;
}
iframe{
  margin: 10px;
}

table {
    margin: 10px;
    text-align: left;
    width: 95%;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }

  h1{
    text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 10px 20px;
  }
  
  th {
    color: white;
    background-color:#4caf50;
  }
  
  